hr
h5 Change Password
form(name='input', action='', method='get')
    | Password
    input.form-control.input-sm(type='password', placeholder='Password')
    | New Password
    input.form-control.input-sm(type='password', placeholder='New Password')
    | Confirm Password
    input.form-control.input-sm(type='password', placeholder='Confirm Password')
    br
    input.btn.btn-warning(type='reset', value="Reset")
    input.btn.btn-success(type='submit', value='Update')

hr
h5 Delete Account
form(name='input', action='', method='get')
    | Password
    input.form-control.input-sm(type='password', placeholder='Password')
    p Once you delete your account, there is no going back. Please be certain.
    input.btn.btn-danger(type='submit', value="Delete this Account") 
