hr
| Profile Picture
br
img#myicon(src='img/avatar.png', alt='icon')

form(action='', method='post', enctype='multipart/form-data')
    input.btn(type='file', name='uploadFile')
    input.btn.btn-success(type='submit', value='Upload new picture')
