h5 Public Profile
hr
form(name='input', action='', method='get')
    | Name
    input#email1.form-control.input-sm(type='text', placeholder='Name', ng-value="name") 
    | Email
    input#motto1.form-control.input-sm(type='email', placeholder='Email', ng-value="email") 
    | Description
    textarea#int1.form-control.input-sm(type='text', placeholder='Description')
    br
    input.btn.btn-warning(type='reset', value="Reset")
    input#submit.btn.btn-success(type='submit', value='Update')
