ul#nav-tabs-wrapper.nav.nav-tabs.nav-pills.nav-stacked.well
    li.active(ng-click="_profile()")
        a(href='#') Profile
    li(ng-click="_account()")
        a(href='#') Account
    li(ng-click="_email()")
        a(href='#') Email

script(type='text/javascript').
    $('#nav-tabs-wrapper > li a').click(function(e) {
        var $this = $(this);
        $this.parent().siblings().removeClass('active').end().addClass('active');
        e.preventDefault();
    });
