.span2#menu
    ul.nav.nav-pills.nav-stacked
        li.active(ng-click="profile()")
            a(href='#') Profile
        li(ng-click="account()")
            a(href='#') Account
        li(ng-click="email()")
            a(href='#') Email

script(type='text/javascript').
    $('#menu > ul li a').click(function(e) {
        var $this = $(this);
        $this.parent().siblings().removeClass('active').end().addClass('active');
        e.preventDefault();
    });
