ul#nav-tabs-wrapper.nav.nav-tabs.nav-pills.nav-stacked.well
    li(ng-hide="ngfilter=='profile'")
        a(ng-click='ngfilter = "profile"', ng-init='ngfilter="profile"') Profile
    li.active(ng-show="ngfilter=='profile'")
        a(ng-click='ngfilter = "profile"', ng-init='ngfilter="profile"') Profile
    li(ng-hide="ngfilter=='account'")
        a(ng-click='ngfilter = "account"') Account    
    li.active(ng-show="ngfilter=='account'")
        a(ng-click='ngfilter = "account"') Account
    li(ng-hide="ngfilter=='email'")
        a(ng-click='ngfilter = "email"') Email
    li.active(ng-show="ngfilter=='email'")
        a(ng-click='ngfilter = "email"') Email
