link(rel='stylesheet', href='css/homePage.css')
link(rel='stylesheet', href='css/dragBar.css')
script(type='text/javascript', src='js/dragBar.js')

//- .container-fluid#main
//-     h2 LEAF
//-         small Königsberg
//-     p.lead There will be an introduction.
#sidebar
    span position
    #dragbar
    |         sidebar
#main
    | main
