link(rel='stylesheet', href='css/homePage.css')
.container-fluid#main-intro
    p home page
.container-fluid#main-part1.main-part
    row.vertical-align
.container-fluid#main-part2.main-part
    row.vertical-align
.container-fluid#main-part3.main-part
    row.vertical-align
include ../components/footer
