link(rel='stylesheet', href='css/discuss.css')
link(rel='stylesheet', href='css/fileinput.css', media='all')
link(rel='stylesheet', href='css/rightBar.css')
link(rel='stylesheet', href='css/leaf-main.css')
link(rel='stylesheet', href='css/dragBar.css')
script(type='text/javascript', src='js/bootstrap.js')
script(type='text/javascript', src='Flat-UI-master/dist/js/flat-ui.min.js')
script(type='text/javascript', src='js/jquery-3.1.1.js')
script(type='text/javascript', src='js/fileinput.js')
script(type='text/javascript', src='js/echarts-all.js')
script(type='text/javascript', src='js/leaf-main.js')
script(type='text/javascript', src='js/dragBar.js')

#container
    #left_panel
        include ../components/leaf
    #right_panel
        #drag
        include ../components/rightBar
