link(href='css/bootstrap.css', rel='stylesheet')
link(rel='stylesheet', href='css/discuss.css')
link(rel='stylesheet', href='css/fileinput.css', media='all')
link(rel='stylesheet', href='css/rightBar.css')
link(rel='stylesheet', href='css/main.css')
link(rel='stylesheet', href='css/bootstrap.min.css')
link(rel='stylesheet', href='css/bootstrap-theme.min.css')
script(type='text/javascript', src='js/jquery-3.1.1.js')
script(type='text/javascript', src='js/fileinput.js')
script(type='text/javascript', src='js/bootstrap.js')
script(type='text/javascript', src='js/echarts-all.js')
script(type='text/javascript', src='js/bootstrap.min.js')
script(type='text/javascript', src='js/main.js')
.container
    .col-xs-8
        include ../components/leaf
    .col-xs-4
        include ../components/rightBar
