.container
    nav.navbar.navbar-inverse(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='/bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
            a.navbar-brand(href='') Limb
        // Collect the nav links, forms, and other content for toggling
        .bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        | browse
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='/') all
                        li
                            a(href='/') map
                        li
                            a(href='/') document
                        li
                            a(href='/') user
                        li
                            a(href='/') local
            form.navbar-form.navbar-left(action='/', role='search')
                .form-group.has-feedback
                    .input-group
                        input.form-control(type='text', placeholder='Search Limb')
                        span.input-group-addon
                            span.fui-search
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        span.fui-plus
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='/') new tree
                        li
                            a(href='/') new limb
                        li
                            a(href='/') Something else..
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        span.fui-user
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='/myprofile') my profile
                        li
                            a(href='/') my limbs
                        li
                            a(href='/') my stars
                        li.divider
                        li
                            a(href='/') help
                        li
                            a(href='/') settings
                        li
                            a(href='/signout') sign out
                        li
                            a(href='/signup') sign up
                        li
                            a(href='/signin') sign in
