br
.col-sm-3.col-xs-12
    img#myicon(src='img/avatar.png', alt='icon')
    h5(ng-model="name") {{name}}
    p(ng-model="description") {{description}}
    hr
    a(ng-model="email", href="mailto:{{email}}")
        small
            span.fui-mail 
            span {{email}}
.col-sm-9.col-xs-12 
    ul.nav.nav-tabs
        li.active(role='presentation')
            a(href='#') Overview
        li(role='presentation')
            a(href='#') Leaves
                span.badge 12
        li(role='presentation')
            a(href='#') Stars
                span.badge 5
        li(role='presentation')
            a(href='#') Followers
                span.badge 3
        li(role='presentation')
            a(href='#') Following
                span.badge 3
    br
    p.lead hello world
