br
.container
    .col-sm-4.col-xs-12
        img#myicon(src='img/avatar.png', alt='icon')
        h5(ng-model="name") {{name}}
        a(ng-model="email", href="mailto:{{email}}") {{email}}
        p(ng-model="description") {{description}}
    .col-sm-8.col-xs-12 
        ul.nav.nav-tabs
            li.active(role='presentation')
                a(href='#') Overview
            li(role='presentation')
                a(href='#') Leaves
            li(role='presentation')
                a(href='#') Stars
            li(role='presentation')
                a(href='#') Followers
            li(role='presentation')
                a(href='#') Following
        br
        p.lead hello world
