link(rel='stylesheet', type='text/css', href='css/new_function.css')
script(type='text/javascript', src='js/new_function.js')
#container
    .item
        .item.w2
        .item
        .item.w2
        .item.h2
        .item
        .item.h2
        .item.w2.h2
        .item
        .item
        .item.h2
        .item
        .item
        .item.w2
        .item.h2
        .item
        .item.h2
