br
.container
    .row
        .col-xs-12.col-sm-3
            include ../components/settings/sidebar
        .col-xs-10.col-sm-5
            include ../components/settings/profile
        .col-xs-10.col-sm-4
            include ../components/settings/avatar
