link(rel='stylesheet', href='css/signinAndRegister.css')
.login-screen
    .login-form(ng-model="toSignin")
        .form-group
            input#login-emal.form-control.login-field(type='email', value='', placeholder='Enter your email', ng-model='formData.email')
            label.login-field-icon.fui-mail(for='login-mail')
        .form-group
            input#login-pass.form-control.login-field(type='password', value='', placeholder='Password', ng-model='formData.password')
            label.login-field-icon.fui-lock(for='login-pass', onclick='reset(); return false;')
        div(ng-if="!toSignin")
            a.btn.btn-primary.btn-lg.btn-block(type='submit', ng-click='signup()') Register
            a.login-link(ng-click='switchToSignin()') Have an account already? 
        div(ng-if="toSignin")
            a.btn.btn-primary.btn-lg.btn-block(type='submit', ng-click='signin()') Sign in
            a.login-link(ng-click='switchToSignup()') New to Leaf? 
            a.login-link(href='#') Lost your password?

include ../components/footer
