link(rel='stylesheet', type='text/css', href='css/signinAndRegister.css')
.wrapper
    .container
        h1 Welcome to Leaf
        form.form-login(ng-model='toSignup')
            input.input-login(type='email', value='', placeholder='Email', ng-model='formData.email')
            input.input-login(type='password', value='', placeholder='Password', ng-model='formData.password')
            div(ng-if="!toSignup")
                button#login-button(type='submit', ng-click='signin()') Sign in
                a.login-link(ng-click='switchToSignup()') New to Leaf? 
                a.login-link(href='#') Lost your password?
            div(ng-if="toSignup")
                button#login-button(type='submit', ng-click='signup()') Register
                a.login-link(ng-click='switchToSignin()') Have an account already? 
    ul.bg-bubbles
        li
        li
        li
        li
        li
        li
        li
        li
        li
        li
include ../components/footer
