#main {
  height: 5000px;
  width: 5000px;
  position: absolute;
  top: -2000px;
  left: 100px;
}

#parent {
  height: 10000px;
  width: 10000px;
  position: relative;
}

#myleft {
  width: 100px;
  height: 100px;
  border: 2px solid red;
  /*color: red;*/
}

body {
  position: fixed;
}