<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>leaf</title>
  <script type="text/javascript" src="./jquery-3.1.1.js"></script>
  <script type="text/javascript" src="./echarts-all.js"></script>
  <script type="text/javascript" src="./bootstrap.min.js"></script>
  <script type="text/javascript" src="./main.js"></script>
  <script type="text/javascript" src="./flat-ui.js"></script>
  <link rel="stylesheet" href="./main.css">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <!--<link rel="stylesheet" href="./bootstrap-theme.min.css">-->
  <link rel="stylesheet" href="./flat-ui.css">
</head>

<body>
  <button id="up" type="button" class="btn btn-primary btn-sm">上移</button>
  <button id="down" type="button" class="btn btn-primary btn-sm">下移</button>
  <button id="create" type="button" class="btn btn-primary btn-sm">创建子节点</button>
  <button id="delete" type="button" class="btn btn-primary btn-sm">删除节点</button>
  <button id="SBContent" type="button" class="btn btn-primary btn-sm">展开/收缩</button>
  <button id="copyContent" type="button" class="btn btn-primary btn-sm">复制</button>
  <button id="pasteToContent" type="button" class="btn btn-primary btn-sm">粘贴</button>
  <button id="detail" type="button" class="btn btn-primary btn-sm">详情</button>
  <button id="save" type="button" class="btn btn-primary btn-sm">保存</button>
</body>

</html>
