.container
    hr
    .col-xs-3
        small © 2017 Leaf, Inc.
    .col-xs-3
        small 
            a help 
    .col-xs-3
        small 
            a about
    .col-xs-3
        small 
            a contact us
