link(rel='stylesheet', href='css/footer.css')
#footer.hidden-xs.footer1
    br
    center
        .container-fluid
            .col-xs-3
                small © 2017 Leaf, Inc.
            .col-xs-2
                small 
                    a help 
            .col-xs-2
                span
                    img(src="favicon.ico")
            .col-xs-2
                small 
                    a about
            .col-xs-3
                small 
                    a contact us

#footer.visible-xs.footer2
    br 
    center
        .container-fluid
            .col-xs-5
                small © 2017 Leaf, Inc.
            .col-xs-2
                span
                    img(src="favicon.ico")            
            .col-xs-5
                small 
                    a contact us
        .container-fluid
            .col-xs-6
                small 
                    a help 
            .col-xs-6
                small 
                    a about
