form(name='functionBar')
    label
        input(type='checkbox', ng-model='option.thinking')
        | 思路
        input(type='checkbox', ng-model='option.mark')
        | 标记
        input(type='checkbox', ng-model='option.add')
        | 添加
        br
        input(type='checkbox', ng-model='option.operate')
        | 操作
        input(type='checkbox', ng-model='option.view')
        | 视图
        input(type='checkbox', ng-model='option.appearance')
        | 外观
