link(href='css/functionBar.css', rel='stylesheet')
.form-group
  span
    button.btn.btn-primary.btn-xs(type='button', ng-model='option.thinking') 思路
    button.btn.btn-primary.btn-xs(type='button', ng-model='option.mark') 标记
    button.btn.btn-primary.btn-xs(type='button', ng-model='option.add') 添加
    button.btn.btn-primary.btn-xs(type='button', ng-model='option.operate') 操作
    button.btn.btn-primary.btn-xs(type='button', ng-model='option.view') 视图
    button.btn.btn-primary.btn-xs(type='button', ng-model='option.appearance') 外观

