#toolBar
    button#up 
        span.glyphicon.glyphicon-arrow-up 上移
    button#left 
        span.glyphicon.glyphicon-arrow-left 左移
    button#create 
        span.fui-plus 创建子节点
    button#copyContent 
        span.glyphicon.glyphicon-copy 复制
    button#edit 
        span.glyphicon.glyphicon-edit 编辑
    button#SBContent 展开/收缩
    br
    button#down 
        span.glyphicon.glyphicon-arrow-down 下移
    button#right 
        span.glyphicon.glyphicon-arrow-right 右移
    button#delete 
        span.glyphicon.glyphicon-trash 删除此节点
    button#pasteToContent 
        span.glyphicon.glyphicon-paste 粘贴
    button#save
        span.glyphicon.glyphicon-cloud-upload 保存
    //- input#createContent(type='text')
    button
        a(href='#') 详情内容
#parent
    #main
