style.
    button {
    margin: 2px;
    }

#toolBar
    button#up.btn.btn-primary.btn-sm
        span.glyphicon.glyphicon-arrow-up 上移
    button#left.btn.btn-primary.btn-sm
        span.glyphicon.glyphicon-arrow-left 左移
    button#create.btn.btn-primary.btn-sm
        span.fui-plus 创建子节点
    button#copyContent.btn.btn-primary.btn-sm
        span.glyphicon.glyphicon-copy 复制
    button#edit.btn.btn-primary.btn-sm
        span.glyphicon.glyphicon-edit 编辑
    button#SBContent.btn.btn-primary.btn-sm 展开/收缩
    br
    button#down.btn.btn-primary.btn-sm
        span.glyphicon.glyphicon-arrow-down 下移
    button#right.btn.btn-primary.btn-sm
        span.glyphicon.glyphicon-arrow-right 右移
    button#delete.btn.btn-primary.btn-sm
        span.fui-trash 删除此节点
    button#pasteToContent.btn.btn-primary.btn-sm
        span.glyphicon.glyphicon-paste 粘贴
    button#save.btn.btn-primary.btn-sm
        span.glyphicon.glyphicon-cloud-upload 保存
    //- input#createContent(type='text')
    button.btn.btn-primary.btn-sm 详情内容
#parent
    #main
