#toolBar
    button#up 上移
    button#left 左移
    button#create 创建子节点
    button#copyContent 复制
    button#delete 编辑
    button#SBContent 展开/收缩
    br
    button#down 下移
    button#right 右移
    button#delete 删除此节点
    button#pasteToContent 粘贴
    input#save(type='submit', value='保存')
    //- input#createContent(type='text')
    button
        a(href='#') 详情内容
#parent
    #main
