#menu.topArea
    nav.navbar.navbar-inverse(role='navigation')
        // Brand and toggle get grouped for better mobile display
        .navbar-header
            .menuToggle.visible-xs(type='button', ng-click='collapseList = !collapseList', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.fui-list(ng-hide='collapseList')
                span.fui-cross(ng-show='collapseList')
            a.navbar-brand(href='/') 
                img(src='img/leaf.png')
                | &nbsp; Leaf &nbsp;
            .phoneSearchBar.visible-xs
                form
                    input.form-control.phoneSearchBarFormCtrl(type='search', placeholder='Search Leaf', ng-model='search', ng-show='clickSearch')
                    a(href='/browse', ng-click='clickSearch = !clickSearch')
                        span.fui-search
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-left
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        | browse
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='/browse', ng-click='ngfilter-menu = "all"') all
                        li
                            a(href='/browse', ng-click='ngfilter-menu = "leaf"') leaf
                        li
                            a(href='/browse', ng-click='ngfilter-menu = "document"') document
                        li
                            a(href='/browse', ng-click='ngfilter-menu = "user"') user
                        li
                            a(href='/browse', ng-click='ngfilter-menu = "local"') local
            form.navbar-form.navbar-left(role='search').hidden-xs
                .form-group.has-feedback
                    .input-group
                        input.form-control(type='search', placeholder='Search Leaf', ng-model='search')
                        span.browseIconBg
                            a(href='/browse')
                                span.fui-search
            ul.nav.navbar-nav.navbar-right
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        span.fui-document
                        b.caret
                    ul.dropdown-menu
                        li
                            a(href='/leaf') new public leaf
                        li
                            a(href='/leaf') new private leaf
                        li
                            a(href='/leaf') open file
                        li
                            a(href='/leaf') delete this leaf
                        li.divider
                        li
                            a(href='/leaf') recently opened &nbsp;
                                span.label.label-info 5
                li.dropdown(ng-controller='checkSigninCtrl', ng-model='signedin')
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        span.fui-user
                        b.caret
                    ul.dropdown-menu(ng-if='signedin')
                        li
                            a(href='/myprofile') my profile
                        li
                            a(href='/mymessages') my messages &nbsp;
                                span.label.label-info 3
                        li
                            a(href='/requests') requests &nbsp;
                                span.label.label-info 1
                        li.divider
                        li
                            a(href='/settings') settings
                        li
                            a(href='/help') help
                        li
                            a(href='/signout') sign out
                    ul.dropdown-menu(ng-if='!signedin')
                        li
                            a(href='/signup') register
                        li
                            a(href='/signin') sign in
