// //表单修改
form(name='input', action='html_form_action.php', method='get')
    #pswd Password
        #npswd New Password
        input#pswd1.form-control.input-sm(type='password', placeholder='Small')
        input#npswd1.form-control.input-sm(type='password', placeholder='Small')
        input#submit.btn.btn-success(type='submit', value='Submit')
// //表单修改................................................
button#reset.btn.btn-warning(onclick='Reset2()') Reset
