#leaf-right-bar
    #authorInfoContainer
        a#authorInfoBtn.btn.btn-inverse(type='button', ng-click='spanAuthor = !spanAuthor', data-toggle='collapse', data-target='#authorInfo', aria-expanded='false', aria-controls='authorInfo') 
            span.fui-plus(ng-hide="spanAuthor") &nbsp;SHOW AUTHOR
            span.fui-cross(ng-show="spanAuthor") &nbsp;HIDE AUTHOR

        //- 作者信息
        center#authorInfo.collapse
            br
            img#myicon(src='{{nodeData.author.avatar}}', alt='icon')
            h5 
                a(href='{{nodeData.author.profile}}') {{nodeData.author.name}} 
            p {{nodeData.author.description}}
            a {{nodeData.author.leavesNum}} leaves - 
            span
                a {{nodeData.author.tagsNum}} tags
            br
            a(href='{{nodeData.author.github}}')
                span.fui-github GitHub &nbsp;
            a(href='mailto:{{nodeData.author.mail}}')
                span.fui-mail {{nodeData.author.mail}}
            br
            br

    //-路径
    ol.breadcrumb
        li.animate-repeat(ng-repeat='node in nodeData.nodeString')
            a(ng-click='getNodeData(node)') {{node}}

    //- 标签
    .tagsinput-primary
        input.tagsinput(name='tagsinput', data-role='tagsinput', ng-model='nodeData.tags')

    form.form-horizontal(role='form')
        //- 描述
        .form-group.rightBar-card
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 描述
                    .topRightBtn.topRightBtn-2(type='submit', ng-click='editDescription = !editDescription' data-toggle='collapse', data-target='#updateDescription', aria-expanded='false', aria-controls='updateDescription')
                        span.fui-check(ng-show="editDescription")
                    .topRightBtn.topRightBtn-1(type='button', ng-click='editDescription = !editDescription' data-toggle='collapse', data-target='#updateDescription', aria-expanded='false', aria-controls='updateDescription')
                        span.glyphicon.glyphicon-edit(ng-hide="editDescription")
                        span.fui-cross(ng-show="editDescription")
                .panel-body#updateDescription.collapse
                    center
                        textarea.form-control(rows='3', autofocus='', ng-model="nodeData.description", placeholder='add description')
                .panel-body(ng-hide="editDescription")
                    | {{nodeData.description}}
        //- Notes
        .form-group
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 笔记
                    .topRightBtn.topRightBtn-1(type='submit')
                        span.icon-cloud-upload
                .panel-body
                    center
                        textarea.form-control(rows='7', autofocus='', data-provide='markdown', ng-model="nodeData.notes", placeholder='在这里写下笔记') 

        //- documents
        .form-group.rightBar-card
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 资料
                    .topRightBtn.topRightBtn-1(type='button', ng-click='spanUploadFiles = !spanUploadFiles' data-toggle='collapse', data-target='#uploadFiles', aria-expanded='false', aria-controls='uploadFiles')
                        span.fui-plus(ng-hide="spanUploadFiles")
                        span.fui-cross(ng-show="spanUploadFiles")
                //- input file
                center#uploadFiles.collapse
                    .row(style='padding:5px 16px 5px 16px;')
                        input#input-700.file-loading(name='kartik-input-700[]', type='file', multiple='')
                        script.
                            $("#input-700").fileinput({
                                uploadUrl: "http://localhost/file-upload/", // server upload action
                                uploadAsync: true,
                                maxFileCount: 5
                            });
                .panel-body
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th #
                                    th Name
                                    th Date Modified
                                    th Size
                            tbody
                                tr.animate-repeat(ng-repeat='document in nodeData.documents')
                                    th(scope='row') {{$index + 1}}
                                    td 
                                        a(type='button', data-toggle='collapse', data-target='#file{{$index + 1}}', aria-expanded='false', aria-controls='file{{$index + 1}}')
                                            | {{document.name}}
                                        div(id='file{{$index + 1}}').collapse
                                            .btn#preview
                                                span.icon-eye-open
                                            .btn#download
                                                span.icon-cloud-download
                                    td {{document.date}}
                                    td {{document.size}}
        //- 计划
        .form-group.rightBar-card
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 计划
                    .topRightBtn.topRightBtn-1
                        span.fui-plus
                .panel-body
                    .table-responsive
                        table.table
                            thead
                                tr
                                    th 状态
                                    th 任务
                                    th 截止时间
                            tbody
                                tr.animate-repeat(ng-repeat='plan in nodeData.plans')
                                    td
                                        input(type='checkbox', ng-model='plan.state', data-toggle='checkbox')
                                    td
                                        a(type='button', data-toggle='collapse', data-target='#plan{{$index + 1}}', aria-expanded='false', aria-controls='plan{{$index+1}}') 
                                            span {{plan.title}}
                                        div(id="plan{{$index+1}}").collapse
                                            small {{plan.content}}
                                    td {{plan.deadline}}

        .form-group.rightBar-card
            .panel.panel-primary
                .panel-heading
                    h3.panel-title 留言
                    .topRightBtn.topRightBtn-1(type='button', ng-click='spanQdiscuss = !spanQdiscuss' data-toggle='collapse', data-target='#qdiscuss', aria-expanded='false', aria-controls='qdiscuss')
                        span.fui-plus(ng-hide="spanQdiscuss")
                        span.fui-cross(ng-show="spanQdiscuss")
                .panel-body
                    //- 添加留言
                    #qdiscuss.collapse
                        textarea#mesg.message.form-control(contenteditable='true', placeholder='添加新的留言')
                        .But
                            span.submit 发表
                    //- #msgpad.msgCon
                    .bootstrap.snippet
                        .blog-comment
                            ul.comments
                                li.clearfix(ng-repeat='comment in nodeData.comments', ng-include="'commentsItem'")

        br
        center            
            span.buttomEditButton.fui-plus
            span.buttomEditButton.fui-gear
            span.buttomEditButton.icon-edit
        br
        br
        br
        br
        br
        br

script#commentsItem(type='text/ng-template').
    <img class="avatar", src='{{comment.avatar}}', alt='' />
    <div class="post-comments">
        <p class="meta"> {{comment.date}}
            <a href='{{comment.profile}}'> {{comment.name}}</a> says : 
            <i class="pull-right">
                <a href='#'>
                    <small> Reply</small>
                </a>
            </i>
        </p>
        <p> {{comment.content}}</p>
    </div>
    <ul class="comments" ng-if="comment.children">
        <li class="clearfix" ng-repeat="comment in comment.children" ng-include="'commentsItem'">
        </li>
    </ul>
