.sidebars
    .rightbar.bg-default(style='right: 0px;').palette-silver
        #authorInfoContainer
            a#authorInfoBtn.btn.btn-inverse(type='button', ng-click='spanAuthor = !spanAuthor' data-toggle='collapse', data-target='#authorInfo', aria-expanded='false', aria-controls='authorInfo') 
                span.fui-plus(ng-hide="spanAuthor") &nbsp;SHOW AUTHOR
                span.fui-cross(ng-show="spanAuthor") &nbsp;HIDE AUTHOR
            center#authorInfo.collapse
                br
                img#myicon(src='img/avatar.png', alt='icon')
                h5 
                    a(href='/browse/user/chroslen') chroslen
                p sophomore, this author is the current node's author
                a 4 leaves - 
                span
                    a 3 tags
                br
                a 
                    span.fui-github GitHub &nbsp;&nbsp;
                a 
                    span.fui-mail chroslen@gmail.com
                br
                br


        br
        ol.breadcrumb
            li
                a(href='#') Home
            li
                a(href='#') Library
            li.active Data
        .tagsinput-primary
            input.tagsinput(name='tagsinput', data-role='tagsinput', value='未完成, school')
        form.form-horizontal(role='form')
            .form-group.rightBar-card
                .panel.panel-primary
                    .panel-heading
                        h3.panel-title.text-center 描述
                    .panel-body
                        dl
                            dt title
                            dd content
                        script(type='text/javascript').
                            $(function() {
                            $('#tags_1').tagsInput({width:'auto'});
                            });
            .form-group.rightBar-card
                .panel.panel-primary
                    .panel-heading
                        h3.panel-title.text-center 笔记
                    .panel-body
                        textarea.form-control(rows='10', cols='50', autofocus='', placeholder='在这里写下笔记')
            .form-group.rightBar-card
                .panel.panel-primary
                    .panel-heading
                        h3.panel-title.text-center 资料
                    .panel-body
                        table.table
                            thead
                                tr
                                    th #
                                    th Name
                                    th Date Modified
                                    th Size
                            tbody
                                tr
                                    th(scope='row') 1
                                    td 
                                        a Mark.doc
                                    td 13,Mar, 2017
                                    td 2Mb
                                tr
                                    th(scope='row') 2
                                    td 
                                        a Jacob.css
                                    td 13,Mar, 2017
                                    td 2kb
                                tr
                                    th(scope='row') 3
                                    td 
                                        a Larry.rmvb
                                    td 15,Mar, 2017
                                    td 234Mb
                        .row(style='padding:5px 16px 5px 16px;')
                            input#input-700.file-loading(name='kartik-input-700[]', type='file', multiple='')
                            script.
                                $("#input-700").fileinput({
                                uploadUrl: "http://localhost/file-upload/", // server upload action
                                uploadAsync: true,
                                maxFileCount: 5
                                });

            .form-group.rightBar-card
                .panel.panel-primary
                    .panel-heading
                        h3.panel-title.text-center 计划
                    .panel-body
                        .table-responsive
                            table.table.table-hover
                                thead
                                    tr
                                        th 任务
                                        th 截止时间
                                        th 完成情况
                                tbody
                                    tr
                                        td
                                            button.btn.btn-success(type='button', data-toggle='modal', data-target='#myModal') 第一次课后作业
                                        td 2015年11月11日
                                        td 已完成
                                    tr
                                        td
                                            button.btn(type='button', data-toggle='modal', data-target='#myModal') 实验一
                                        td 2016年12月30日
                                        td 未完成
            .form-group.rightBar-card
                .panel.panel-primary(style='overflow: auto; height: 360px;')
                    .panel-heading
                        h3.panel-title.text-center 留言
                    .panel-body
                        #qdiscuss
                            textarea#mesg.message.form-control(contenteditable='true')
                            .But
                                span.submit 发表
                        #msgpad.msgCon
            br
            br
            br
            br

// 模态框（Modal）
#myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
    .modal-dialog
        .modal-content
            .modal-header
                button.close(type='button', data-dismiss='modal', aria-hidden='true') ×
                h4#myModalLabel.modal-title 尝试写一个微信小程序
            .modal-body 小程序开发上手极其简单，我们一起开发一个集新闻阅读与电影影讯为一体的小程序，做完这个项目，你就能掌握小程序全部的常用组件、API和开发技巧，开发出你想要的小程序
            .modal-footer
                button.btn.btn-default(type='button', data-dismiss='modal') 未完成
                button.btn.btn-primary(type='button') 已完成
        //- // /.modal-content
        //- // /.modal-dialog
        //- // /.modal
        //- // jQuery (necessary for Bootstrap's JavaScript plugins)
        //- script(src='https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js')
        //- // Include all compiled plugins (below), or include individual files as needed
        //- script(src='js/bootstrap.min.js')
