doctype html
html
head
    meta(charset='utf-8')
    title menuBar
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/css/menuBarBootstrap.css')
body(ng-app='myApp')
    // navigation bar
    .navbar.navbar-inverse(role='navigation')
        .col-md-1
        .col-md-1
            a.navbar-left(href='')
                img(src='http://img.freepik.com/free-vector/green-tree-logo-template_1061-110.jpg?size=338&ext=jpg')
        .col-md-6
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        | BROWSE
                        span.caret
                    ul.dropdown-menu.navbar-inverse
                        li
                            a(href='') ALL
                        li
                            a(href='') MAP
                        li
                            a(href='') DOCUMENT
                        li
                            a(href='') USER
                        li
                            a(href='') LOCAL
            form.navbar-form.navbar-left(action='', rol='search')
                .form-group.has-feedback
                    input.form-control(type='text', placeholder='Search Limb')
                    i.glyphicon.glyphicon-search.form-control-feedback
        .col-md-1
        .col-md-3
            ul.nav.navbar-nav
                li.dropdown
                    a.dropdown-toggle(href='', data-toggle='dropdown')
                        | ADD
                        span.caret
                    ul.dropdown-menu.navbar-inverse
                        li
                            a(href='') New Map
                        li
                            a(href='') New Limb
                        li
                            a(href='') New ...
            ul.nav.navbar-nav
                li.dropdown
                    a#userPic.dropdown-toggle(href='', data-toggle='dropdown')
                        img(src='https://image.freepik.com/free-icon/user-image-with-black-background_318-34564.jpg')
                        span.caret
                    ul.dropdown-menu.navbar-inverse
                        li
                            a(href='') My Profile
                        li
                            a(href='') My Trees
                        li
                            a(href='') My ...
                        li.divider
                        li
                            a(href='') Help
                        li
                            a(href='') Settings
                        li
                            a(href='') Log Out
                        li
                            a(href='/login') Log In / Register
        // register / login
        div(ng-view)
    script(src='http://libs.baidu.com/jquery/1.9.0/jquery.js')
    script(src='http://libs.baidu.com/bootstrap/3.2.0/js/bootstrap.min.js')
