#filtersAndSearch {
    height: 120px;
    position: relative;
    background-color: #D6D0CE;
}

#filtersBtn {
    position: relative;
    left: 30px;
    top: 100px;
}

#browseTitle {
    position: absolute;
    left: 20px;
    top: 15px;
}

#browseIntroduction {
    position: absolute;
    font-size: 16px;
    left: 20px;
    top: 60px;
    opacity: 0.5;
}

#ngview {
    background-color: #ecf0f1;
}

.browse-card {
    background-color: white;
    transition-duration: 1s;
}

.browse-card:hover {
    transform: translate(0px, -3px);
    box-shadow: 0px 2px 10px black;
    transition-duration: 0s;
}
