/*drag bar end*/

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#main {
    background-color: BurlyWood;
    float: right;
    position: absolute;
    height: 200px;
    right: 0;
    left: 200px;
    margin-top: 10px;
}

#sidebar {
    background-color: IndianRed;
    margin-top: 10px;
    width: 200px;
    float: left;
    position: absolute;
    height: 200px;
    overflow-y: hidden;
}

#dragbar {
    background-color: black;
    height: 100%;
    float: right;
    width: 3px;
    cursor: col-resize;
}

#ghostbar {
    width: 3px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    cursor: col-resize;
    z-index: 999;
}


/*drag bar end*/
