/* home -------------------------- */

.page-home.ng-enter {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: scaleUp 0.5s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: scaleUp 0.5s both ease-in;
    transform-origin: 0% 0%;
    animation: scaleUp 0.5s both ease-in;
}

.page-home.ng-leave {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    transform-origin: 0% 0%;
    animation: slideOutLeft 0.5s both ease-in;
}


/* browse ------------------------ */

.page-browse.ng-enter {
    -webkit-animation: slideInRight 0.5s both ease-in;
    -moz-animation: slideInRight 0.5s both ease-in;
    animation: slideInRight 0.5s both ease-in;
}

.page-browse.ng-leave {
    -webkit-transform-origin: 0% 0%;
    -webkit-animation: slideOutLeft 0.5s both ease-in;
    -moz-transform-origin: 0% 0%;
    -moz-animation: slideOutLeft 0.5s both ease-in;
    transform-origin: 0% 0%;
    animation: slideOutLeft 0.5s both ease-in;
}


/* contact ---------------------- */

.page-contact.ng-leave {
    -webkit-transform-origin: 50% 50%;
    -webkit-animation: rotateOutNewspaper .5s both ease-in;
    -moz-transform-origin: 50% 50%;
    -moz-animation: rotateOutNewspaper .5s both ease-in;
    transform-origin: 50% 50%;
    animation: rotateOutNewspaper .5s both ease-in;
}

.page-contact.ng-enter {
    -webkit-animation: slideInUp 0.5s both ease-in;
    -moz-animation: slideInUp 0.5s both ease-in;
    animation: slideInUp 0.5s both ease-in;
}


/* rotate and fall */

@-webkit-keyframes rotateFall {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    20% {
        -webkit-transform: rotateZ(10deg);
        -webkit-animation-timing-function: ease-out;
    }
    40% {
        -webkit-transform: rotateZ(17deg);
    }
    60% {
        -webkit-transform: rotateZ(16deg);
    }
    100% {
        -webkit-transform: translateY(100%) rotateZ(17deg);
    }
}

@-moz-keyframes rotateFall {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    20% {
        -moz-transform: rotateZ(10deg);
        -moz-animation-timing-function: ease-out;
    }
    40% {
        -moz-transform: rotateZ(17deg);
    }
    60% {
        -moz-transform: rotateZ(16deg);
    }
    100% {
        -moz-transform: translateY(100%) rotateZ(17deg);
    }
}

@keyframes rotateFall {
    0% {
        transform: rotateZ(0deg);
    }
    20% {
        transform: rotateZ(10deg);
        animation-timing-function: ease-out;
    }
    40% {
        transform: rotateZ(17deg);
    }
    60% {
        transform: rotateZ(16deg);
    }
    100% {
        transform: translateY(100%) rotateZ(17deg);
    }
}


/* scale up */

@keyframes scaleUp {
    from {
        opacity: 0.3;
        transform: scale(0.8);
    }
}

@-moz-keyframes scaleUp {
    from {
        opacity: 0.3;
        -moz-transform: scale(0.8);
    }
}

@-webkit-keyframes scaleUp {
    from {
        opacity: 0.3;
        -webkit-transform: scale(0.8);
    }
}


/* slide in from the right */

@keyframes slideInRight {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@-moz-keyframes slideInRight {
    from {
        -moz-transform: translateX(100%);
    }
    to {
        -moz-transform: translateX(0);
    }
}

@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translateX(100%);
    }
    to {
        -webkit-transform: translateX(0);
    }
}


/* slide in from the bottom */

@keyframes slideInUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

@-moz-keyframes slideInUp {
    from {
        -moz-transform: translateY(100%);
    }
    to {
        -moz-transform: translateY(0);
    }
}

@-webkit-keyframes slideInUp {
    from {
        -webkit-transform: translateY(100%);
    }
    to {
        -webkit-transform: translateY(0);
    }
}


/* slide in from the bottom */

@keyframes slideOutLeft {
    to {
        transform: translateX(-100%);
    }
}

@-moz-keyframes slideOutLeft {
    to {
        -moz-transform: translateX(-100%);
    }
}

@-webkit-keyframes slideOutLeft {
    to {
        -webkit-transform: translateX(-100%);
    }
}


/* rotate out newspaper */

@-webkit-keyframes rotateOutNewspaper {
    to {
        -webkit-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@-moz-keyframes rotateOutNewspaper {
    to {
        -moz-transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

@keyframes rotateOutNewspaper {
    to {
        transform: translateZ(-3000px) rotateZ(360deg);
        opacity: 0;
    }
}

#main-intro {
    background-image: url(../img/background-home.jpg) !important;
    background-size: 100% auto;
    box-shadow: inset 0 100px 100px -30px #495a80;
    background-repeat: no-repeat;
}

#welcome {
    margin-top: 30px;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.login-screen {
    min-height: 300px;
    margin-top: 50px;
}

.login-screen.screen-xs {
    min-height: 120px;
    margin-top: 0;
}

.login-form {
    background: transparent;
}

a.btn.btn-primary.btn-lg.btn-block {
    opacity: 0.7;
}

a.btn.btn-primary.btn-lg.btn-block:hover {
    opacity: 1;
}

h2 {
    font-weight: 200;
    color: #16a085;
}

h2 small {
    color: gray;
    margin-left: 10px;
}

p.lead {
    color: #ded9d9;
}

.main-part {
    height: 70%;
}

#main-part1 {}
