#main-intro {
    background: linear-gradient(to bottom, #495a80 100%, #75e8b8);
}

.vertical-align {
    display: flex;
    align-items: center;
}

h2 {
    font-weight: 200;
    color: #16a085;
}

h2 small {
    color: gray;
    margin-left: 10px;
}

p.lead {
    color: #ded9d9;
}

.main-part {
    height: 70%;
}

#main-part1 {}


/*bg of main-intro start*/
