#leaf-main {
    padding: 0px;
    height: 100%;
    border-bottom: 10px gray solid;
    overflow: scroll;
}

#toolBar {
    position: absolute;
    background: transparent;
    z-index: 1000;
}

#parent {
    height: 100%;
    position: relative;
    overflow: scroll;
}

#main {
    height: 5000px;
    width: 5000px;
    position: relative;
    top: -2000px;
    left: 100px;
}

.btn, .btn-primary, .btn-sm {
    margin: 2px;
    color: gray;
    background-color: white;
}

.btn-tool {
    background: transparent;
}

.btn:hover, .btn-primary:hover, .btn-sm:hover {
    color: white;
    background-color: #222;
}
