.navbar-inverse .navbar-form .form-control, .navbar-inverse .navbar-form .select2-search input[type="text"] {
    color: /536a81;
    border-color: transparent;
    background-color: white;
}

.navbar {
    min-height: 53px;
    font-size: 0px;
    border: none;
    border-radius: 0px;
    margin-bottom: 0px;
}

.topArea {
    /*height: 53px;*/
    background-color: #34495e;
}

.navbar-collapse .navbar-nav.navbar-left:first-child>li:first-child a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
    border-radius: 0 0px 0px 0;
}

#menu {
    position: relative;
    z-index: 19999;
}

#menu, .topArea, .navbar-inverse {
    background: #495a80 !important;
}

.navbar-nav>.open>.dropdown-menu {
    background: #586582 !important;
}

.navbar-inverse .navbar-brand {
    color: #ffffff !important;
}

.navbar-inverse .navbar-nav>li>a {
    color: #ffffff !important;
}

.navbar-inverse, .navbar-collapse, .navbar-form {
    border: none;
}

.menuToggle {
    position: absolute;
    color: white;
    font-size: 20px;
    top: 8px;
    right: 18px;
}


/*logo start*/

.navbar-brand img {
    position: relative;
    top: -2px;
    height: 26px;
    width: 26px;
}


/*logo end*/


/*search bar on phone start*/

.phoneSearchBar {
    position: absolute;
    top: 8px;
    right: 52px;
    height: 36px;
    border-radius: 18px;
}

.phoneSearchBar>input, .phoneSearchBarFormCtrl {
    position: absolute;
    border: none;
    border-radius: 0px;
    border-bottom: 1px gray solid;
    background: transparent;
    color: #1abc9c;
    right: 30px;
    height: 36px;
    width: 150px;
}

.phoneSearchBar a {
    position: absolute;
    right: 0px;
    font-size: 20px;
    color: white;
}


/*search bar end*/


/*search bar on biger screen start*/

.navbar-inverse .navbar-form .form-control, .navbar-inverse .navbar-form .select2-search input[type="text"] {
    border: none;
    border-radius: 0px;
    border-bottom: 1px gray solid;
    background: transparent;
    color: gray;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: gray !important;
}

input:-moz-placeholder, textarea:-moz-placeholder {
    color: gray !important;
}

input::-moz-placeholder, textarea::-moz-placeholder {
    color: gray !important;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: gray !important;
}

.browseIconBg {
    display: table-cell;
    position: relative;
    left: 8px;
    bottom: 8px;
    opacity: 0;
    transition: 0.5s;
}

.input-group input:focus+.browseIconBg {
    opacity: 1;
    transition: 0.1s;
}


/*search bar on biger screen end*/
