.navbar-inverse .navbar-form .form-control, .navbar-inverse .navbar-form .select2-search input[type="text"] {
    color: /536a81;
    border-color: transparent;
    background-color: white;
}

.navbar {
    min-height: 53px;
    margin-bottom: 30px;
    font-size: 16px;
    border: none;
    border-radius: 0px;
}

.topArea {
    height:53px;
    background-color: #34495e; 
}

.navbar-collapse .navbar-nav.navbar-left:first-child>li:first-child a {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.navbar-collapse .navbar-nav.navbar-right:last-child>.dropdown:last-child>a {
    border-radius: 0 0px 0px 0;
}

#menu {
    position: relative;
    z-index: 19999;
}
