#leaf-right-bar {
    box-shadow: inset 3px 0 7px #7d7978;
    padding: 0px;
    font-size: 16px;
    height: 100%;
    overflow: auto;
    background-color: #D6D0CE;
    position: relative;
    z-index: 100 !important;
}

@media only screen and (max-width: 500px) {
    #leaf-right-bar {
        box-shadow: none;
    }
}

.panel {
    margin-bottom: 0px;
}

.panel-primary {
    border: none;
}

.panel-primary>.panel-heading {
    background-color: white;
    color: gray;
    border: none;
}

h3 {
    font-weight: 100;
}

.panel-body {
    padding-top: 0px;
}

.bootstrap-tagsinput {
    border: none;
}

.breadcrumb, .tagsinput-primary, .rightBar-card {
    /*background-color: white;*/
    transition-duration: 1s;
}

.breadcrumb:hover, .tagsinput-primary:hover, .rightBar-card:hover {
    transform: translate(0px, -3px);
    box-shadow: 0px 2px 2px black;
    transition-duration: 0s;
}

#authorInfoContainer {
    background-color: #222;
    color: #999;
}

#authorInfo {
    box-shadow: inset 0 -10px 10px black;
}

#authorInfoBtn {
    width: 100%;
    background-color: #222;
    margin: 0;
}

#goToLeafBtn {
    float: right;
    width: 20%;
    background-color: #222;
}

.breadcrumb, .tagsinput-primary, .form-horizontal .form-group {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 9px;
    margin-bottom: 0;
}


/*top right botton start*/

.topRightBtn {
    opacity: 0;
    position: absolute;
    top: 7px;
}

.panel-primary:hover .topRightBtn {
    opacity: 0.3;
}

.topRightBtn:hover {
    opacity: 1 !important;
}

.topRightBtn-1 {
    right: 14px;
}

.topRightBtn-2 {
    right: 40px;
}


/*top right botton end*/


/*buttomEditButton start*/

.buttomEditButton {
    margin: 10px;
    opacity: 0.3;
}

.buttomEditButton:hover {
    opacity: 1;
}


/*buttomEditButton end*/
