#ngview {
    background-size: 100% auto;
    /*box-shadow: inset 0 100px 100px -30px #495a80;*/
    background: linear-gradient(to bottom, #495a80, rgba(255, 255, 255, 0)), url(../img/background-signin.jpg);
}

.login-form {
    background: transparent;
}

.login-screen {
    min-height: 100% !important;
}

.login-link {
    color: #bfc9ca;
}

a:hover {
    color: #056956;
}
