#ngview {
    background-image: url(../img/signInBackground.jpg) !important;
    background-size: 100% auto;
}

.login-form {
    background: transparent;
}

.login-screen {
    min-height: 100% !important;
}

a:hover {
    color: #056956;
    text-decoration: none;
}

.login-link {
    color: black;
}
