<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>leaf</title>
  <script type="text/javascript" src="./jquery-3.1.1.js"></script>
  <script type="text/javascript" src="./echarts-all.js"></script>
  <script type="text/javascript" src="./main.js"></script>
  <script type="text/javascript" src="./bootstrap.min.js"></script>
  <link rel="stylesheet" href="./main.css">
  <link rel="stylesheet" href="./bootstrap.min.css">
  <link rel="stylesheet" href="./bootstrap-theme.min.css">
</head>
<body>
  <button id="up">上移</button>
  <button id="down">下移</button>
  <div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      Dropdown
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
      <li id="create">
        <a>创建子节点</a>
          <input type="text" id="createContent">
          <input type="submit" value="确定">
      </li>
      <li id="delete">
        <a>删除该节点</a>
        <input type="submit" value="确定">
      </li>
      <li id="SBContent">
        <a>展开/收缩</a>
      </li>
      <li id="copyContent">
        <a>复制</a>
      </li>
      <li id="pasteToContent">
        <a>粘贴</a>
      </li>
      <li role="separator" class="divider"></li>
      <li id="detail">
        <a href="#">详情内容</a>
      </li>
    </ul>
  </div>
  <input type="submit" value="保存" id="save" />
  <div id="parent">
    <div id="main"></dsiv>
  </div>
</body>
</html>
